.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.active {
  color: rgb(253, 115, 115);
}

footer, main, header {
  padding: 20px 0;
  
}
footer, header {
  background-color: #01143b;
  color: white;
}
header a {
  color: white;
  text-decoration: none;
}
nav ul {
  font-weight: 700;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
